@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4{
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    background-color: hsl(221, 80%, 70%);
    border-radius: 10px;
}
body {
    color: #333;
    font-family: 'S-Core Dream 3';
    font-weight: 300;
}
.header {
    width: 1130px;
    margin: 0 auto;
    padding: 0 10px;
}
.header .header01{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header01 figure{
    width: 160px;
    height: 66px;
}
.header01 .search {
    width: 148px;
    height: 38px;
    padding: 0 14px 0 16px;
    font-size: 13.3px;
    border: 1px solid #c2d2fb;
    line-height: 38px;
    display: inline-block;
}
.header01 .search02 {
    width: 404px;
    height: 34px;
    background-color: #edf2fe;

}
.header01 .search02 p{
    font-size: 13px;
    letter-spacing: -1px;
    padding: 0 12px;
    line-height: 38px;
}
.header01 nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header01 nav ul li {
    display: inline-block;
    font-size: 13px;
    margin-left: 20px;
}
.header01 nav ul li:nth-child(1){
    margin-left: 0;
}

/* 💥💥💥header02 💥💥💥*/
.header02{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.header02 .meau{
    list-style: none;
}
.header02 .meau .nav01{
    width: 130px;
    height: 47px;
    background: rgb(84,183,240);
    background: linear-gradient(95deg, 
                rgba(84,183,240,1) 0%, rgba(55,108,242,1) 100%);;
    line-height: 47px;
    padding-left: 46px;
    font-size: 13px;
    color: #fff;
}
.header02 .meau .nav02 {
    list-style: none;
    font-size: 15px;
}
.section01{
    height: 100%;
    
}
/*💥💥💥💥더 해야함💥💥💥*/

/*💥💥main💥💥*/
.main {
    height: 345px;
    position: relative;
}
.main .section01{
    width: 1130px;
    padding: 25px 10px 34px;
    background-color: #e7e6e6;
    margin: 0 auto;
}
.main .section01 .inner{
    font-size: 27px;
    margin-bottom: 12px;
    padding-left: 18px;
}
.main .section01 .list {
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
    
}
.main .section01 .list .item{
    height: 246px;
    color: #333333;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #919090;
}
.main .section01 .list .item figure{
    width: 100%;
    height: 188px;
    position: relative;
}
.main .section01 .list .item figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.main .section01 .list .item div{
    font-size: 15px;
    padding: 9px 0;
    text-align: center;
}

/*💥💥💥💥💥💥인기악보💥💥💥💥💥💥*/
.main .section02{
    width: 1130px;
    height: 100%;
    position: relative;
    padding: 25px 10px;
    margin: 0 auto;
}
.main .section02 .text_meun strong{
   margin-left: 18px;
   font-size: 27px; 
}
.main .section02 .pop_meun{
    font-size: 14px;
    margin-top: 10px;
    display: flex;
}
.main .section02 .pop_meun p:nth-child(1){
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    border: 1px solid #333;
    margin-right: 10px;
}
.main .section02 .pop_meun p:nth-child(2){
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    border: 1px solid #333;
    margin-right: 10px;
}
.main .section02 .pop_meun p:nth-child(3){
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    border: 1px solid #333;
    margin-right: 10px;
}
.main .section02 .pop_meun p:nth-child(4){
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    border: 1px solid #333;
    margin-right: 10px;
}
.main .section02 .pop_meun p:nth-child(5){
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    border: 1px solid #333;
    margin-right: 10px;
}
.main .section02 .list{
    height: 80px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}
.main .section02 .list a{
    width: 505px;
    height: 80px;
}
.main .section02 .list .item {
    width: 505px;
    height: 80px;
    color: #333333;
    /* margin-top: 10px; */
    padding: 10px;
}
.main .section02 .list .item a{
    display: flex;
}
.main .section02 .list .item figure{
    width: 60px;
    height: 60px;
    position: relative;
}
.main .section02 .list .item figure img{
    width: 100%;
    height: 100%;
    margin: 10px 10px;
}
.main .section02 .list .item .number{
    font-size: 22px;
    line-height: 80px;
    margin-left: 18px;
}
.main .section02 .list .item .text{
    width: 323px;
    margin-left: 25px;
    padding: 11px 0;
}
.main .section02 .list .item .text h4{
    font-size: 15px;
    padding-top: 12px;
}
.main .section02 .list .item .text p{
    font-size: 14px;
    padding-bottom: 10px;
}
.main .section02 .list .item a .blue{
    width: 30px;
    height: 30px;
    padding: 25px 0;
}
