@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
    line-height: 1;
}
.mobile {display: none;}
.header {
    height: 100px;
    z-index: 999;
}
.header .inner {
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner h1 a img {
    height: 50px;
}
.header .inner .pc_gnb .gnb {
    display: flex;
}
.header .inner .pc_gnb .gnb .depth01 {
    position: relative;
}
.header .inner .pc_gnb .gnb .depth01 > a {
    padding: 0 20px;
    font-size: 19px;
    line-height: 100px;
}
.header .inner .pc_gnb .gnb .depth01 .depth02 {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
    background-color: #333333bb;
    color: #fff;
    display: none;
}
.header .inner .pc_gnb .gnb .depth01:hover .depth02 {
    display: block;
    z-index: 999;
}
.header .inner .pc_gnb .gnb .depth01 .depth02 li {
    padding: 15px 0;
    word-break: keep-all;
}
.header .inner .mode_btn {
    background-color: transparent;
    border: 0;
    width: 20px;
}
.header .inner .mode_btn img {
    height: 20px;
}

/*💥💥💥 main 💥💥💥*/
.cont01 {
    position: relative;
    z-index: -1;
}
.cont01 figure {
    height: 100vh;
}
.cont01 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .cont01::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #3333337e;
    position: absolute;
    top: 0;
    left: 0;
} */
.cont01 h2 {
    width: 100%;
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
}

@media screen and (max-width:1024px) {
    .pc_gnb {display: none;}
    .mobile {display: block;}
    .menu_btn {
        background-color: transparent;
        border: 0;
    }
    .btn {
        width: 60px;
        display: flex;
        justify-content: space-between;
        height: 20px;
    }
    .btn .menu_btn img {
        height: 25px;
    }
    .header .mobile_gnb {
        width: 400px;
        height: 100%;
        padding: 20px;
        background-color: rgb(51, 51, 51);
        color: #fff;
        position: absolute;
        top: 100px;
        right: 0;
        display: none;
    }
    .header .mobile_gnb.on {
        display: block;
    }
    .header .mobile_gnb .depth01 {
        border-bottom: 1px solid #fff;
        padding: 15px 0;
    }
    .header .mobile_gnb .depth01 > a {
        font-size: 19px;
    }
    .header .mobile_gnb .depth01 .depth02 {
        margin: 15px 0;
        word-break: keep-all;
        display: none;
    }
    .header .mobile_gnb .depth01 .depth02.on {
        display: block;
    }
    .header .mobile_gnb .depth01 .depth02 li {
        margin-bottom: 10px;
    }
}